# Core
Django==5.2.2
djangorestframework==3.16.0
fastapi==0.118.2
Flask==3.1.0
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
python-dotenv==1.1.1
python-decouple==3.8
gunicorn==23.0.0
whitenoise==6.9.0

# Database
mysqlclient==2.2.7
PyMySQL==1.1.1

# Async / Channels
asgiref==3.8.1
daphne==4.2.0
channels==4.2.2
twisted==24.7.0
autobahn==24.4.2
zope.interface==7.2

# Celery stack
celery==5.5.2
billiard==4.2.1
kombu==5.5.3
vine==5.1.0

# Firebase / Google
firebase-admin==6.8.0
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-auth==2.40.2
google-api-python-client==2.170.0
googleapis-common-protos==1.70.0

# Utils / Auth
bcrypt==4.2.0
cryptography==45.0.3
cffi==1.17.1
PyJWT==2.10.1
itsdangerous==2.2.0

# Data / Visual
numpy==2.2.3
pandas==2.3.0
matplotlib==3.10.0
fonttools==4.56.0
pillow==10.4.0

# HTTP
requests==2.32.3
urllib3==2.5.0
charset-normalizer==3.4.2
idna==3.10

# Otros
python-dateutil==2.9.0.post0
pytz==2025.2
sqlalchemy==2.0.43
colorama==0.4.6
click==8.1.8
attrs==25.3.0
typing-extensions==4.15.0
